@import url(https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap) screen and (max-width: 600px);

html, body {
    overflow-x: hidden;
    background-image: radial-gradient(circle at 28% 29%, #ededed06 0%, #ededed06 50%, #88888806 50%, #88888806 100%), radial-gradient(circle at 8% 78%, #9c9c9c06 0%, #9c9c9c06 50%, #25252506 50%, #25252506 100%), linear-gradient(90deg, #fff, #fff);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
}

#app {
    color: #666;
    font-family: "EB Garamond", source-han-serif-sc, "source han serif sc",
        "source han serif cn", "source han serif tc", "source han serif tw",
        "source han serif", "simsun", songti sc, microsoft yahei, serif;
}

.child {
    width: 100%;
    padding: 5rem 5rem;
    position: absolute;
}

#app a {
    color: #279cff;
    opacity: 0.7;
    transition: opacity 0.2s;
}

#app a:hover {
    opacity: 1;
}

#app a:active {
    opacity: 0.9;
}

rt {
    font-weight: 500;
    font-size: 0.7rem;
}

#title {
    font-size: 3rem;
    font-weight: 500;
    height: 5rem;
    line-height: 5rem;
}

#text {
    font-size: 1.2rem;
    max-width: 650px;
    line-height: 2.2rem;
}

#text p {
    margin-bottom: 0.7rem;
}

#text p::before {
    content: "　　";
}

#text p.bold {
    font-weight: bold;
}

#text.sponsor p.img img {
    width: 250px;
    height: calc(250px * 1080 / 700);
    background-color: white;
    border: 1px solid rgba(229, 231, 235);
    border-radius: 0.25rem;
    margin-right: 20px;
}

#text.list .list p {
    line-height: 1.4rem;
}

#text.list .list p a {
    display: inline-block;
    min-width: 40%;
}

#text.lis .lis p {
    line-height: 1.6rem;
}

#text.lis .lis p a {
    display: inline-block;
    min-width: 25%;
}

#text.list .timeline .year {
    display: block;
    margin-bottom: 4rem;
}

#text.list .timeline .year p {
    line-height: 1.6rem;
    height: 1.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#text.list .timeline .year p span {
    display: inline-block;
    min-width: 30%;
}

#text.list .timeline .year .date {
    z-index: 10;
    position: absolute;
	font-size: 5rem;
	font-weight: bold;
	color: #ededed;
	transform: rotate(-90deg) translate(-3.2rem, -5.5rem);
	height: 5rem;
	line-height: 5rem;
}

.fade-enter-active {
    transition: all 0.3s ease-in;
}

.fade-leave-active {
    transition: all 0.3s ease-out;
}

.fade-enter,
.fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}

@media screen and (max-width: 600px) {
    #cursor {
        display: none !important;
    }

    #app {
        font-family: "EB Garamond", "Noto Serif SC", source-han-serif-sc,
            "source han serif sc", "source han serif cn", "source han serif tc",
            "source han serif tw", "source han serif", "simsun", songti sc,
            microsoft yahei, serif;
    }

    .child {
        padding: 2rem 3rem;
    }

    #title {
        font-size: 2.5rem;
    }

    #text {
        font-size: 1rem;
    }

    #text.list .list p {
        line-height: 1.8rem;
        margin-bottom: 2rem;
    }

    #text.list .list p a {
        display: block;
        width: unset;
    }

    #text.list .timeline .year p {
        margin-left: 3.6rem;
        height: unset;
        overflow: unset;
        white-space: unset;
        text-overflow: unset;
        text-indent: -1rem;
    }

    #text.list .timeline .year p span {
        display: none;
    }

    #text.list p::before {
        content: "";
    }

    #text.sponsor p.img img {
        width: calc(100vw - 3rem);
        height: calc((100vw - 3rem) * 1080 / 700);
        margin: .5rem -1.5rem;
    }

    #text.sponsor p.img::before {
        content: "";
    }

    .fade-enter,
    .fade-leave-to {
        transform: unset;
    }
}
