*
    -webkit-tap-highlight-color: transparent;

*::selection
    background-color: rgba(187, 221, 251, 0.5);

rt
    @apply text-xs

.fade-enter-active
    transition: all .3s ease-in;

.fade-leave-active
    transition: all .3s ease-in;

.fade-enter-from,
.fade-leave-to
    opacity: 0;

.sponsor-enter-active
    transition: all 0.2s ease-in;

.sponsor-leave-active
    transition: all 0.2s ease-out;

.sponsor-enter-from,
.sponsor-leave-to
    transform: translateX(6px);
    opacity: 0;